*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: norseFont;
    src: url(./fonts/Norsebold.ttf);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.odin-header {
    margin-top: 30%;
    flex: 1;
}

footer {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 130px;
    height: auto;
}

.odin-para {
    font-family: norseFont;
    font-size: 7rem;
    color: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-height: 100%;
    background-image: url(images/halie-leaf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5F5;
    width: 100%;
}

.top-header {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 70px;
}

.top-header,
.middle,
.bottom {
    padding-left: 50px;
    padding-right: 50px;
}

.middle {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}



button {
    background-color: #596D48;
    color: #FFFFFF;
    padding: 15px 60px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    border: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #596D48;
}

.first-name,
.email,
.password {
    margin-right: 90px;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
}

input:focus {
    background-color: #f0f8ff;
    border: 2px solid #1e90ff;
    outline: none;
}

#password:invalid {
    outline: none;
    border: 2px solid red;
}


#confirm-password:invalid {
    outline: none;
    border: 2px solid red;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 500px;
    border: 1px solid #E5E7EB;
}