*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: norseFont;
    src: url(fonts/Norsebold.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

.left-panel {
    border: 2px solid blue;
    width: 1200px;
    max-height: 100%;

}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid red;
    width: 100%;
}

.top-header {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 70px;
}

.top-header, .middle, .bottom {
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid red;
}

form {
    border: 2px solid red;
}

section {
    display: flex;
    flex-wrap: wrap;
}